@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.cardMusica {
    background-color: #CCCCCC;   
}

.cardImagem img {
    filter: grayscale(100%);
}

.cardImagem:hover img {
    transition: all 0.8s ease;
    filter: none;
}

.cardImagem:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.8s ease;
}

.cardDescricao {
    font-family: 'Roboto', sans-serif;
    height: 170px;
}

.link {
    background-color: #292929;
    padding: 15px 0 15px 0;
    text-align: center;
}

.link a{
    font-family: 'Roboto', sans-serif;
    color: white;
}

@keyframes foto {
    0%   {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        
    }
  }