.formulario {
    width: 60%;
}

.formulario label {
    width: 100%;
}

.btEnviar {
    background-color: #292929 !important;
    color: white !important;
}

.btEnviar:hover {
    cursor: pointer;
    background-color: #292929b7 !important;
}

.btLimpar {
    background-color: white !important;
    color: #292929 !important;
}

.btLimpar:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.774) !important;
    color: #29292983 !important;
}