@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap');

.conteudoFeed {
    padding-top: 20px;
}

.postagens {
    width: 60%;
}

.cardsNoticias {
    max-height: 70vh;
    scrollbar-width: none; 
    padding-bottom: 100px;
}

.cardsNoticias::-webkit-scrollbar {
    display: none;
}

.divisorPostagens {
    margin-bottom: 20px;
}
.divisorPostagens h1 {
    font-family: 'Raleway', sans-serif;
    margin:0 30% 0 30%;
}
