@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

.menu {
    background-color: #1F1F1F;
    font-family: 'Raleway', sans-serif;
    
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0;
}

.linkMenu {
    height: 8vh;
    font-weight: bold;
    color: white;
}

.linkMenu:hover {
    background-color: #303030;
    cursor: pointer;
}

.linkMenu img {
    width: 70px;
}
.p-menubar-root-list{
    margin: 0;
}
.p-menuitem-link {
    padding: 0 !important;
    margin: 20px;
}

.p-menubar-button {
    justify-content: center;
    align-items: center;
}
